In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import plotly.express as px

In [3]:
dw_cen=pd.read_csv('district wise population and centroids.csv')
dw_pop=pd.read_csv('district wise population for year 2001 and 2011.csv')
st_cen_2001=pd.read_csv('state wise centroids_2001.csv')
st_cen_2011=pd.read_csv('state wise centroids_2011.csv')
dw_pop_01_11=pd.read_csv('district wise population for year 2001 and 2011.csv')

india_census_hlpca=pd.read_csv('india_census_housing-hlpca-full.csv')
india_dis_2011=pd.read_csv('india-districts-census-2011.csv')
dis_w_cen=pd.read_csv('district wise centroids.csv')

In [4]:
dw_cen

,State,District,Latitude,Longitude,Population in 2001,Population in 2011
0,Andhra Pradesh,Anantapur,14.312066,77.460158,3640478,4081148
1,Andhra Pradesh,Chittoor,13.331093,78.927639,3745875,4174064
2,Andhra Pradesh,East Godavari,16.782718,82.243207,4901420,5154296
3,Andhra Pradesh,Guntur,15.884926,80.586576,4465144,4887813
4,Andhra Pradesh,Krishna,16.143873,81.148051,4187841,4517398
...,...,...,...,...,...,...
426,West Bengal,Kolkata,22.550581,88.352765,4572876,4496694
427,West Bengal,Maldah,25.080268,88.171917,3290468,3988845
428,West Bengal,Murshidabad,24.259507,88.168169,5866569,7103807
429,West Bengal,Nadia,23.564110,88.582930,4604827,5167600
430,West Bengal,Uttar Dinajpur,26.044619,88.235952,2441794,3007134

In [5]:
dw_pop_01_11

,State,District,Population in 2001,Population in 2011
0,Andaman & Nicobar Islands,Nicobar,42068,36842
1,Andaman & Nicobar Islands,North & Middle Andaman,105613,105597
2,Andaman & Nicobar Islands,South Andaman,208471,238142
3,Andhra Pradesh,Anantapur,3640478,4081148
4,Andhra Pradesh,Chittoor,3745875,4174064
...,...,...,...,...
635,West Bengal,Paschim Medinipur,5193411,5913457
636,West Bengal,Purba Medinipur,4417377,5095875
637,West Bengal,Puruliya (Purulia),2536516,2930115
638,West Bengal,South Twenty Four Parganas,6906689,8161961
639,West Bengal,Uttar Dinajpur,2441794,3007134

In [6]:
print(st_cen_2011.head())
print(st_cen_2011.shape)

                 State  Longitude   Latitude
0  Andaman and Nicobar  92.889579  11.942373
1       Andhra Pradesh  79.916203  16.554124
2    Arunachal Pradesh  94.545327  27.725765
3                Assam  92.657310  26.321341
4                Bihar  85.636774  25.771394
(35, 3)

In [7]:
india_dis_2011[india_dis_2011.columns[india_dis_2011.columns.str.startswith('H')]]

,Household_Workers,Hindus,Housholds_with_Electric_Lighting,Households_with_Internet,Households_with_Computer,Households,Higher_Education,Households_with_Bicycle,Households_with_Car_Jeep_Van,Households_with_Radio_Transistor,...,Having_latrine_facility_within_the_premises_Total_Households,Household_size_1_person_Households,Household_size_2_persons_Households,Household_size_1_to_2_persons,Household_size_3_persons_Households,Household_size_3_to_5_persons_Households,Household_size_4_persons_Households,Household_size_5_persons_Households,Household_size_6_8_persons_Households,Household_size_9_persons_and_above_Households
0,7946,37128,83071,762,5256,181664,39709,3019,2988,59480,...,54335,911,4036,4947,6396,31982,10700,14886,42727,27121
1,29102,10110,90190,1999,5892,187839,41367,10013,5091,66814,...,83615,845,2173,3018,3743,23640,7998,11899,59121,13440
2,1020,22882,17250,574,2150,54394,8923,609,4271,15210,...,18780,1630,1483,3113,2302,10528,4422,3804,5378,1758
3,1222,10341,15824,235,1005,48144,9826,488,1847,10895,...,17649,689,834,1523,983,4991,1652,2356,6832,4866
4,3930,32604,62900,346,3342,147408,29517,846,1731,37412,...,16586,1531,7435,8966,10664,44517,15825,18028,31443,3952
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
635,69,27940,7150,574,1484,12110,5711,868,858,3632,...,7041,185,402,587,821,3559,1655,1083,1709,1342
636,1327,152638,47880,1868,4870,69333,15930,27503,2550,18161,...,30326,2894,5828,8722,9084,33606,15087,9435,6876,864
637,2560,8681,9301,57,230,15958,3668,4304,193,3382,...,8055,960,1442,2402,1954,5779,2326,1499,1443,335
638,260,81163,18641,388,1193,40185,10042,5070,910,5069,...,12704,2124,2847,4971,4593,16267,7087,4587,4324,765
639,907,174452,52479,2789,6771,85532,29910,7692,5323,15953,...,44691,3697,6292,9989,10821,37545,17063,9661,7706,1850

In [8]:
dis_w_cen

                   State           District   Latitude  Longitude
0    Andaman and Nicobar    Andaman Islands  12.382571  92.822911
1    Andaman and Nicobar    Nicobar Islands   7.835291  93.511601
2         Andhra Pradesh           Adilabad  19.284514  78.813212
3         Andhra Pradesh          Anantapur  14.312066  77.460158
4         Andhra Pradesh           Chittoor  13.331093  78.927639
..                   ...                ...        ...        ...
589          West Bengal  North 24 Parganas  22.062388  88.877940
590          West Bengal           Puruliya  23.254192  86.396853
591          West Bengal  South 24 Parganas  21.854428  88.445370
592          West Bengal     Uttar Dinajpur  26.044619  88.235952
593          West Bengal     West Midnapore  22.354897  87.231014

[594 rows x 4 columns]

In [9]:
final_df=dis_w_cen.merge(india_dis_2011,left_on='District',right_on='District name').drop(columns=['District name'])

In [10]:
india_dis_2011[india_dis_2011.columns[india_dis_2011.columns.str.startswith('L')]]
print('Fucntion for the columns')

Fucntion for the columns

In [11]:
def from_b(district):
    if district.startswith('M'):
        return district
    return None

b_str = final_df['District'].apply(from_b)
filtered_df = final_df[b_str.notna()]  # Correct filtering

In [12]:
final_df['litracy_rate']=round(((final_df['Literate']/final_df['Population'])*100))
final_df

,State,District,Latitude,Longitude,District code,State name,Population,Male,Female,Literate,...,Power_Parity_Rs_45000_150000,Power_Parity_Rs_150000_240000,Power_Parity_Rs_240000_330000,Power_Parity_Rs_150000_330000,Power_Parity_Rs_330000_425000,Power_Parity_Rs_425000_545000,Power_Parity_Rs_330000_545000,Power_Parity_Above_Rs_545000,Total_Power_Parity,litracy_rate
0,Andhra Pradesh,Adilabad,19.284514,78.813212,532,ANDHRA PRADESH,2741239,1369597,1371642,1483347,...,2870,84,122,206,134,213,347,109,4181,54.0
1,Andhra Pradesh,Anantapur,14.312066,77.460158,553,ANDHRA PRADESH,4081148,2064495,2016653,2310960,...,3857,143,150,293,176,261,437,243,5799,57.0
2,Andhra Pradesh,Chittoor,13.331093,78.927639,554,ANDHRA PRADESH,4174064,2090204,2083860,2667878,...,3835,261,125,386,157,218,375,307,5926,64.0
3,Andhra Pradesh,East Godavari,16.782718,82.243207,545,ANDHRA PRADESH,5154296,2569688,2584608,3288577,...,4814,189,164,353,195,286,481,290,7211,64.0
4,Andhra Pradesh,Guntur,15.884926,80.586576,548,ANDHRA PRADESH,4887813,2440521,2447292,2960441,...,4610,196,188,384,222,328,550,317,6981,61.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
512,West Bengal,Maldah,25.080268,88.171917,332,WEST BENGAL,3988845,2051541,1937304,2086432,...,2597,283,95,378,63,121,184,86,4191,52.0
513,West Bengal,Murshidabad,24.259507,88.168169,333,WEST BENGAL,7103807,3627564,3476243,4055834,...,4762,597,268,865,220,441,661,153,8088,57.0
514,West Bengal,Nadia,23.564110,88.582930,336,WEST BENGAL,5167600,2653768,2513832,3480555,...,3949,675,321,996,237,466,703,240,7048,67.0
515,West Bengal,Puruliya,23.254192,86.396853,340,WEST BENGAL,2930115,1496996,1433119,1624905,...,2002,313,90,403,65,127,192,71,3309,55.0
516,West Bengal,Uttar Dinajpur,26.044619,88.235952,330,WEST BENGAL,3007134,1551066,1456068,1489667,...,1947,220,79,299,79,159,238,20,3214,50.0

In [13]:
final_df=final_df[['State','District','Latitude','Longitude','District code',
          'State name','Population','Male','Female',
          'Literate','litracy_rate','Female_Literate','Male_Literate','Hindus','Muslims',
           'Sikhs','Christians','Jains','Middle_Education','Female_Workers','Male_Workers','Household_Workers',
         'Housholds_with_Electric_Lighting','Households_with_Internet',
         'Households_with_Computer','Primary_Education','Higher_Education','SC','ST']]

In [14]:
final_df.to_csv('India_data.csv',index=False)

In [15]:
data=pd.read_csv('India_data.csv')

In [16]:
print((list(data['State name'].unique())).insert(0,"OVERALL INDIA"))

None

In [20]:
sorted(data.columns)

['Christians',
 'District',
 'District code',
 'Female',
 'Female_Literate',
 'Female_Workers',
 'Higher_Education',
 'Hindus',
 'Household_Workers',
 'Households_with_Computer',
 'Households_with_Internet',
 'Housholds_with_Electric_Lighting',
 'Jains',
 'Latitude',
 'Literate',
 'Longitude',
 'Male',
 'Male_Literate',
 'Male_Workers',
 'Middle_Education',
 'Muslims',
 'Population',
 'Primary_Education',
 'SC',
 'ST',
 'Sikhs',
 'State',
 'State name',
 'litracy_rate']

In [ ]:
col_info=['Population','Male','Female','litracy_rate']

In [24]:
primary_list=sorted(data.columns[5:])
primary_list

['Christians',
 'Female',
 'Female_Literate',
 'Female_Workers',
 'Higher_Education',
 'Hindus',
 'Household_Workers',
 'Households_with_Computer',
 'Households_with_Internet',
 'Housholds_with_Electric_Lighting',
 'Jains',
 'Literate',
 'Male',
 'Male_Literate',
 'Male_Workers',
 'Middle_Education',
 'Muslims',
 'Population',
 'Primary_Education',
 'SC',
 'ST',
 'Sikhs',
 'State name',
 'litracy_rate']

In [17]:
state_list=list(data['State name'].unique())
state_list.insert(0,"OVERALL INDIA")
state_list

['OVERALL INDIA',
 'ANDHRA PRADESH',
 'ARUNACHAL PRADESH',
 'ASSAM',
 'BIHAR',
 'MAHARASHTRA',
 'CHANDIGARH',
 'CHHATTISGARH',
 'HIMACHAL PRADESH',
 'DAMAN AND DIU',
 'GUJARAT',
 'GOA',
 'HARYANA',
 'UTTAR PRADESH',
 'JAMMU AND KASHMIR',
 'JHARKHAND',
 'KARNATAKA',
 'KERALA',
 'MADHYA PRADESH',
 'MANIPUR',
 'MEGHALAYA',
 'MIZORAM',
 'NAGALAND',
 'ORISSA',
 'PONDICHERRY',
 'PUNJAB',
 'RAJASTHAN',
 'NCT OF DELHI',
 'TAMIL NADU',
 'TRIPURA',
 'UTTARAKHAND',
 'WEST BENGAL']